<%- include ('partials/header.ejs') %> <!--inserindo partials header-->
<body>
    <%- include ("partials/navbar.ejs") %> <!--inserindo partials navbar(barra superior)-->
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label for="">Título</label>
                    <input type="text" name="titulo" id="" placeholder="título" class="form-control">
                    <br>
                    <label for="">Descrição</label>
                    <input type="textarea" name="descricao" id="" placeholder="Descreva sua pergunta aqui" class="form-control">
                    <br>
                    <button class="btn btn-primary">perguntar</button>
                </form>
            </div>
        </div>        
    </div>
</body>
<%- include ('partials/footer.ejs') %><!--inserindo partials footer (scripts js)-->
